@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;
    aspect-ratio: 500 / 730;
    background: url('../../assets/images/hero.png') no-repeat center / cover;
    .content {
        width: 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        .logo {
            margin-bottom: 10%;
            img {
                max-width: 36px;
                width: 100%;
                height: auto;
            }
        }
        .couple-name {
            margin-bottom: 70%;
            img {
                max-width: 400px;
                width: 100%;
                height: auto;
            }
        }
        .date {
            color: white;
            .time {
                font-size: 16px;
            }
            .divider {
                margin: 1% 0 3%;
                img {
                    max-width: 6.5px;
                    width: 100%;
                    height: auto;
                }
            }
            .text {
                font-family: $font-DK-Cool-Crayonr;
                font-size: 13px;
            }
        }

        @media (max-width: 500px) {
            .logo {
                img {
                    max-width: calc((36 / 500) * 100vw);
                }
            }
            .couple-name {
                img {
                    max-width: calc((400 / 500) * 100vw);
                }
            }
            .date {
                .time {
                    font-size: calc((16 / 500) * 100vw);
                }
                .divider {
                    img {
                        max-width: calc((6.5 / 500) * 100vw);
                    }
                }
                .text {
                    font-size: calc((13 / 500) * 100vw);
                }
            }
        }
    }
}
